<!DOCTYPE html>
<html lang="{$config.language}">
<head>
    <!-- 加载样式及META信息 -->
    {include file="common/meta" /}

    {block name='css'}
    <!-- 用来添加自定义的 样式 -->
    {/block}
</head>
<body class="hold-transition skin-blue-light fixed sidebar-mini {$bodyClass}">
<div class="wrapper">
    {include file="common/header" /}
    <!-- Full Width Column -->
    <div class="content-wrapper">
        {block name='content'}
        {/block}
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab"></div>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
</div>
{include file="common/script" /}
{include file="layout/btn_top" /}
<script src="__CDN__/assets/dist/js/fms.js"></script>
<script src="__CDN__/assets/dist/js/acl.js"></script>
<!-- 加载JS脚本 -->
{block name='js'}
<!-- 用来 添加自定义 的 js -->
{/block}

</body>
</html>

