{extend name="layout/fluid2" /}
{block name='css'}
<style>
.text-right {
    text-align: right;
}
</style>
{/block}

{block name="content"}
<form class="form-horizontal" id="default_form">
    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">任务名称：</label>
        <div class="col-sm-9 col-xs-9">
            {$task_data['task_name']}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">{$order_field_list[$task_params['time_type']]}：</label>
        <div class="col-sm-9 col-xs-9">
            {$task_params['start_time'] ?? ''} - {$task_params['end_time'] ?? ''} 
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定订单类型：</label>
        <div class="col-sm-9 col-xs-9">
            {foreach $task_params['order_type'] as $k => $v}
                [{$order_type_list[$v]}]
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定订单状态：</label>
        <div class="col-sm-9 col-xs-9">
            {foreach $task_params['order_status'] as $k => $v}
                [{$order_status_list[$v]}]
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定平台：</label>
        <div class="col-sm-4 col-xs-4">
            {foreach $task_params['platform'] as $k => $v}
                [{$v}]
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定平台帐号：</label>
        <div class="col-sm-4 col-xs-4">
            {foreach $task_params['account'] as $k => $v}
                [{$v}]
            {/foreach}
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定组织结构：</label>
        <div class="col-sm-4 col-xs-4">
            {foreach $task_params['org_id'] as $k => $v}
            {if $v == -1}其他
            {else /}
            [{$org_list[$v]['name']}]
            {/if}
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定销售人员：</label>
        <div class="col-sm-4 col-xs-4">
            {foreach $task_params['seller'] as $k => $v}
            [{$v}]
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定物流公司：</label>
        <div class="col-sm-4 col-xs-4">
            {foreach $task_params['carrier_company'] as $k => $v}
            [{$v}]
            {/foreach}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">指定物流渠道：</label>
        <div class="col-sm-4 col-xs-4">
            {foreach $task_params['carrier'] as $k => $v}
            [{$v}]
            {/foreach}
        </div>
    </div>

    <div class="form-group">
            <label class="col-sm-3 col-xs-3 control-label text-right">指定字段：</label>
            <div class="col-sm-9 col-xs-9">
                {foreach $task_params['order_fields'] as $k => $v}
                [{$order_field_list[$v]}]
                {/foreach}
            </div>
        </div>

    <div class="form-group">
        <label class="col-sm-3 col-xs-3 control-label text-right">优先级：</label>
        <div class="col-sm-9 col-xs-9">
            {$task_params['priority']}
        </div>
    </div>
   
</form>

{/block}

