<style>
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){width:100px;}
</style>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li><a href="javascript:void(0);">SKU销量报表</a></li>
            <li class="pull-right">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group padding-top8 paddint-right5">
                        <!--<a href="{:url('/count/sku/index', array_merge($params, ['type' => $type, 'model' => 'table']))}" data-toggle="tooltip"-->
                           <!--class="btn btn-xs btn-default {$model == 'table' ? 'active' : ''}"-->
                           <!--title="列表模式"><span class="fa fa-fw fa-th-large"></span></a>-->
<!--                        <a href="{:url('/count/sku/index', array_merge($params,['type' => $type, 'model' => 'chart']))}" data-toggle="tooltip"
                           class="btn btn-xs btn-default {$model == 'chart' ? 'active' : ''}"
                           title="图表模式"><span class="fa fa-fw fa-bar-chart-o"></span></a>-->
                    </div>
                </div>
            </li>
            <li class="pull-right alert-tips">
                <i class="icon fa fa-warning"></i> 统计数据存在一定的延迟性, 请勿与订单实时对比.
            </li>
        </ul>
        <div class="box-body">
            <div class="box box-solid">
                <div class="box-header with-bsku">
                    <form action="{:url('/count/sku/index', array_merge($params,['type' => $type, 'model' => $model]))}" method="get" class="form-inline froms clearfix">
                        <div class="form-group">
                            <select class="selectpicker show-tick " title="平台" name="platform" id="platform" data-actions-box="true" data-live-search="true">
                                <option value="">平台</option>
                                {if !empty($platform)}
                                {foreach $platform as $platform_list}
                                <option value="{$platform_list}" {if $params['platform'] == $platform_list}selected{/if}>{$platform_list}</option>
                                {/foreach}
                                {/if}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="selectpicker show-tick" title="仓库" name="store" id="store" data-actions-box="true" data-live-search="true">
                                <option value="">仓库</option>
                                {if !empty($store)}
                                {foreach $store as $store_list}
                                <option value="{$store_list.id}" {if $params['store'] == $store_list['id']}selected{/if}>{$store_list.store_name}</option>
                                {/foreach}
                                {/if}
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="selectpicker show-tick" title="分类" name="category" onchange="order_model.selectCategory(this)" data-url="{:url('/count/sku/index/selectcategory')}" id="category" data-actions-box="true" data-live-search="true">
                                <option value="">分类</option>
                                {if !empty($category)}
                                {foreach $category as $category_list}
                                <option value="{$category_list.id}" {if $params['category'] == $category_list['id']}selected{/if}>{$category_list.name}</option>
                                {/foreach}
                                {/if}
                            </select>
                        </div>

                        <div class="form-group" id="child">
                            {if !empty($params['category'])}
                            <select class="selectpicker show-tick" name="single" data-actions-box="true" data-live-search="true">
                                <option value="">产品分类</option>
                                {foreach $child as $single_list}
                                <option value="{$single_list.id}" {if $params.single == $single_list.id}selected{/if}>{$single_list.name}</option>
                                {/foreach}
                            </select>
                            {/if}
                        </div>
                        <div class="form-group">
                            <select class="selectpicker show-tick" title="部门" name="organ[]" id="organ" data-actions-box="false" data-live-search="true" onchange="order_model.change_org($(this))">
                                <option value="">部门</option>
                                {foreach $org_list as $item}
                                <option value="{$item.id}" {if in_array($item.id, $params['organ'] ?? [])}selected{/if}>{$item.name}</option>
                                {$item['name']}
                                </option>
                                {/foreach}
                            </select>

                            <select class="selectpicker show-tick" title="销售员" name="seller[]" id="seller" data-actions-box="false" data-live-search="true" data-max-options="20" multiple>
                                {foreach $sellers as $item}
                                <option value="{$item}" {if in_array($item, $params['seller'] ?? [])}selected{/if}>{$item}</option>
                                {/foreach}
                            </select>

                        </div>
                        <div class="form-group">
                            <select class="selectpicker show-tick" title="目标国家" name="country" id="country" data-actions-box="true" data-live-search="true">
                                <option value="">目标国家</option>
                                {if !empty($country)}
                                {foreach $country as $country_key=>$country_list}
                                <option value="{$country_key}" {if $params['country'] == $country_key}selected{/if}>{$country_list}</option>
                                {/foreach}
                                {/if}
                            </select>
                        </div>


                        <div class="form-group">
                            <div class="input-group laydate-group">
                                <input type="text" class="input-sm form-control input-date datepicker" name="paytime_start" value="{$params['paytime_start']}" placeholder="开始年月日" size="10" readonly/>
                                <span class="input-group-addon">到</span>
                                <input type="text" class="input-sm form-control input-date datepicker" name="paytime_end" value="{$params['paytime_end']}" placeholder="结束年月日" size="10" readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <select class="selectpicker show-tick" title="时间正序" name="sort" id="sort" data-actions-box="true" data-live-search="true">
                                <option value="0" {if $params['sort'] == 0}selected{/if}>默认</option>
                                <option value="1" {if $params['sort'] == 1}selected{/if}>时间正序</option>
                                <option value="2" {if $params['sort'] == 2}selected{/if}>时间倒序</option>
                                <option value="3" {if $params['sort'] == 3}selected{/if}>销量正序</option>
                                <option value="4" {if $params['sort'] == 4}selected{/if}>销量倒序</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" value="{$params.keyword}" name="keyword" class="form-control input-sm" placeholder="SKU关键字, 可支持批量" size="40">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="submit" name="submit"><i class="glyphicon glyphicon-search"></i> 确定搜索&nbsp;</button>
                            <a class="btn btn-warning btn-sm" href="javascript:void(0);" target="_blank" onclick="order_model.export_sku()"><i class="glyphicon glyphicon-save"></i> 导出Excel&nbsp;</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-content">
            {if $model == 'table'}
            {include file="sku/index/table"/}
            {else /}
            {include file="sku/index/chart"/}
            {/if}
        </div>

        <div class="batch-bar clearfix">
            {include file="layout/page"}
        </div>
    </div>
</section>
