<table class="table table-bordered table-hover dataTable table-striped">
    <thead>
    <tr>
        <th class="text-center">SKU</th>
        <th class="text-center">缩略图</th>
        <th class="text-center">商品中文名</th>
        <th class="text-center">订单数</th>
        <th class="text-center">商品数</th>
        <th class="text-center">订单总金额</th>
        <th class="text-center">补发数量</th>
        <th class="text-center">补发金额</th>
        <th class="text-center">退货数量</th>
        <th class="text-center">退货金额</th>
        <th class="text-center">退款订单数</th>
        <th class="text-center">退款金额</th>
        <th class="text-center">退款占比%</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-center">CW67617</td>
        <td class="text-center">图片</td>
        <td class="text-center">厨房调料瓶套装</td>
        <td class="text-center">1300</td>
        <td class="text-center">155</td>
        <td class="text-center">11</td>
        <td class="text-center">10</td>
        <td class="text-center">102</td>
        <td class="text-center">32</td>
        <td class="text-center">12</td>
        <td class="text-center">12</td>
        <td class="text-center">32</td>
        <td class="text-center">22%</td>
    </tr>
    <tr>
        <td class="text-center">CW67617</td>
        <td class="text-center">图片</td>
        <td class="text-center">厨房调料瓶套装</td>
        <td class="text-center">1300</td>
        <td class="text-center">155</td>
        <td class="text-center">11</td>
        <td class="text-center">10</td>
        <td class="text-center">102</td>
        <td class="text-center">32</td>
        <td class="text-center">12</td>
        <td class="text-center">12</td>
        <td class="text-center">32</td>
        <td class="text-center">22%</td>
    </tr>
    <tr>
        <td class="text-center">CW67617</td>
        <td class="text-center">图片</td>
        <td class="text-center">厨房调料瓶套装</td>
        <td class="text-center">1300</td>
        <td class="text-center">155</td>
        <td class="text-center">11</td>
        <td class="text-center">10</td>
        <td class="text-center">102</td>
        <td class="text-center">32</td>
        <td class="text-center">12</td>
        <td class="text-center">12</td>
        <td class="text-cente">32</td>
        <td class="text-center">22%</td>
    </tr>
    <tr>
        <td class="text-center table-total">合计</td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total">1300</td>
        <td class="text-center table-total">155</td>
        <td class="text-center table-total">11</td>
        <td class="text-center table-total">10</td>
        <td class="text-center table-total">102</td>
        <td class="text-center table-total">32</td>
        <td class="text-center table-total">12</td>
        <td class="text-center table-total">32</td>
        <td class="text-center table-total">12</td>
        <td class="text-center table-total">22%</td>
    </tr>
    </tbody>
</table>
