
<table class="table table-bordered table-hover dataTable table-striped">
    <thead>
    <tr>
        <td class="text-center table-total">合计</td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total"></td>
        <td class="text-center table-total">{$total.total_qty}</td>
        <td class="text-center table-total">{$total.total_amount}</td>
        <td class="text-center table-total">{$total.total_paid}</td>
        <td class="text-center table-total">{$total.total_wait_pay}</td>
        <td class="text-center table-total">{$total.total_revenued}</td>
        <td class="text-center table-total">{$total.total_collected}</td>
        <td class="text-center table-total">{$total.total_real_pay}</td>
        <td class="text-center table-total">{$total.total_total_collected}</td>
    </tr>
    <tr>
        <th class="text-center">序号</th>
        <th class="text-center">sku</th>
        <th class="text-center">品名</th>
        <th class="text-center">采购单号</th>
        <th class="text-center">供应商</th>
        <th class="text-center">仓库</th>
        <th class="text-center">采购员</th>
        <th class="text-center">采购均摊价</th>
        <th class="text-center">订购量</th>
        <th data-id="amount" class="text-center custom {if $params['sortkey'] == 'amount'}sorting_{$params['sort']}{else/}sorting{/if}">总金额</th>
        <th data-id="paid"  class="text-center custom {if $params['sortkey'] == 'paid'}sorting_{$params['sort']}{else/}sorting{/if}">已付<a href="javascript:void(0);" data-toggle="tooltip" title="已经付款记录"><i class="fa fa-fw fa-question-circle"></i></a></th>
        <th data-id="wait_pay" class="text-center custom {if $params['sortkey'] == 'wait_pay'}sorting_{$params['sort']}{else/}sorting{/if}">待付<a href="javascript:void(0);" data-toggle="tooltip" title="所有采购价值 - 已经付款"><i class="fa fa-fw fa-question-circle"></i></a></th>
        <th data-id="revenued" class="text-center custom {if $params['sortkey'] == 'revenued'}sorting_{$params['sort']}{else/}sorting{/if}">已收<a href="javascript:void(0);" data-toggle="tooltip" title="所有入库 + 公司损失金额"><i class="fa fa-fw fa-question-circle"></i></a></th>
        <th data-id="collected" class="text-center custom {if $params['sortkey'] == 'collected'}sorting_{$params['sort']}{else/}sorting{/if}">待收<a href="javascript:void(0);" data-toggle="tooltip" title="采购价值 - （正常入库+损耗）"><i class="fa fa-fw fa-question-circle"></i></a></th>
        <th data-id="real_pay" class="text-center custom {if $params['sortkey'] == 'real_pay'}sorting_{$params['sort']}{else/}sorting{/if}">实付<a href="javascript:void(0);" data-toggle="tooltip" title="已付款-退款"><i class="fa fa-fw fa-question-circle"></i></a></th>
        <th data-id="total_collected" class="text-center custom {if $params['sortkey'] == 'total_collected'}sorting_{$params['sort']}{else/}sorting{/if}">实收<a href="javascript:void(0);" data-toggle="tooltip" title="已收+等值换"><i class="fa fa-fw fa-question-circle"></i></a></th>
        <!--<th class="text-center">操作</th>-->
    </tr>
    </thead>
    <tbody>
    {volist name="data" id="vo"}
    <tr>
        <td class="text-center">
           {$key+1}
        </td>
        <td class="text-center">{$vo.sku}</td>
        <td class="text-center">{$vo.goods_name}</td>
        <td class="text-center">{$vo.ordersn}</td>
        <td class="text-center">{$vo.partnerName}</td>
        <td class="text-center">{$vo.storeName}</td>
        <td class="text-center">{$vo.cguser}</td>
        <td class="text-center">{$vo.goods_price}</td>
        <td class="text-center">{$vo.qty}</td>
        <td class="text-center">{$vo.amount}</td>
        <td class="text-center">{$vo.paid}</td>
        <td class="text-center">{$vo.wait_pay}</td>
        <td class="text-center">{$vo.revenued}</td>
        <td class="text-center">{$vo.collected}</td>
        <td class="text-center">{$vo.real_pay}</td>
        <td class="text-center">{$vo.total_collected}</td>
        <!--<td class="text-center">-->
            <!--查看图表-->
        <!--</td>-->
    </tr>
    {/volist}
    </tbody>
</table>

