<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="{$type == 'date' ? 'active' : ''}"><a href="{:url('/count/finance/index', ['type' => 'date'])}">按日期</a></li>
            <li class="{$type == 'organ' ? 'active' : ''}"><a href="{:url('/count/finance/index', ['type' => 'organ'])}">按组织架构</a></li>
            <li class="{$type == 'platform' ? 'active' : ''}"><a href="{:url('/count/finance/index', ['type' => 'platform'])}">按平台</a></li>
            <li class="{$type == 'kfuser' ? 'active' : ''}"><a href="{:url('/count/finance/index', ['type' => 'kfuser'])}">按开发员</a></li>
            <li class="{$type == 'seller' ? 'active' : ''}"><a href="{:url('/count/finance/index', ['type' => 'seller'])}">按销售员</a></li>
            <li class="{$type == 'account' ? 'active' : ''}"><a href="{:url('/count/finance/index', ['type' => 'account'])}">按账号</a></li>
            <li class="pull-right">
                <div class="btn-toolbar" role="toolbar">
                    
                </div>
            </li>
            <li class="pull-right alert-tips">
                <i class="icon fa fa-warning"></i> 统计数据存在一定的延迟性, 请勿与订单实时对比.
            </li>
        </ul>
        <div class="box-body">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <form action="{:url('/count/finance/index',$params)}" method="get" class="form-inline froms clearfix" id="manual_submit_form">
                        <input type="hidden" name="type" value="{$type}">
                        <input type="hidden" name="model" value="{$model}">
                        <input type="hidden" name="p" value="{$params.p}">
                        <input type="hidden" name="ps" value="{$params.ps}">
                        <div class="form-group">
                           
                        </div>
                        <div class="form-group">
                            <label class="control-label text-right">时间维度：</label>
                            <div class="checkbox">
                                <label><input type="radio" name="checkDate" class="checkDate" value="day" {if condition="$params['checkDate']=='day'"}checked{/if} ><small>天</small></label>
                                <label><input type="radio" name="checkDate" class="checkDate" value="month" {if condition="$params['checkDate']=='month'"}checked{/if} ><small>月</small></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label text-right">区间：</label>
                            <div class="input-group laydate-group">
                                {if condition="$params['checkDate'] == 'month'"}
                                <input type="text" class="input-sm form-control input-date datepicker hide start" name="day_start" value="{$params.day_start}" placeholder="开始时间"/>
                                <input type="text" class="input-sm form-control input-date monthpicker" name="month_start" value="{$params.month_start}" placeholder="开始年月"/>
                                <span class="input-group-addon">到</span>
                                <input type="text" class="input-sm form-control input-date datepicker hide end" name="day_end" value="{$params.day_end}" placeholder="结束时间"/>
                                <input type="text" class="input-sm form-control input-date monthpicker" name="month_end" value="{$params.month_end}" placeholder="结束年月"/>
                                {else/}
                                <input type="text" class="input-sm form-control input-date datepicker start" name="day_start" value="{$params.day_start}" placeholder="开始时间"/>
                                <input type="text" class="input-sm form-control input-date monthpicker hide" name="month_start" value="{$params.month_start}" placeholder="开始年月"/>
                                <span class="input-group-addon">到</span>
                                <input type="text" class="input-sm form-control input-date datepicker end" name="day_end" value="{$params.day_end}" placeholder="结束时间"/>
                                <input type="text" class="input-sm form-control input-date monthpicker hide" name="month_end" value="{$params.month_end}" placeholder="结束年月"/>
                                {/if}
                            </div>
                        </div>
                        {if condition="$params['checkDate'] != 'month'"}
                        <div class="form-group shotcut_day_div">
                            <div class="checkbox">
                                <label><input type="radio" name="checkDate" class="" onchange="order_model.checked_date(this)" value="today" {if condition="$params['checkDate']=='today'"}checked{/if}><small>今天</small></label>
                                <label><input type="radio" name="checkDate" class="" onchange="order_model.checked_date(this)" value="yesterday" {if condition="$params['checkDate']=='yesterday'"}checked{/if}><small>昨天</small></label>
                                <label><input type="radio" name="checkDate" class="" onchange="order_model.checked_date(this)" value="recently3day" {if condition="$params['checkDate']=='recently3day'"}checked{/if}><small>最近三天</small></label>
                            </div>
                        </div>
                        {/if}

                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" type="submit" name="submit"><i class="glyphicon glyphicon-search"></i> 确定搜索&nbsp;</button>
                            <a class="btn btn-warning btn-sm" href="javascript:void(0);" target="_blank" onclick="common_module.export_excel()"><i class="glyphicon glyphicon-save"></i> 导出Excel&nbsp;</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-content">
            {if $model == 'table'}
            {include file="finance/index/organ_table"/}
            {/if}
        </div>
        <!--<div class="batch-bar clearfix">
            {include file="layout/page"}
        </div>-->
    </div>
</section>
