<form action="{:url('/count/order/' . $profit_type, array_merge($params,['type' => $type, 'model' => $model]))}" method="get" class="form-inline froms clearfix">

    <input type="hidden" name="type" value="{$params['type']}">
    <input type="hidden" name="model" value="{$params['model']}">
    <input type="hidden" name="ps" value="{$params['ps']}">
    <input type="hidden" name="p" value="{$params['p']}">


    {if in_array($params['type'], ['account', 'platform'])}
    <div class="form-group" style="width: 206px;">
        <label class="control-label text-right">平台：</label>
        <select class="selectpicker platform-choice" title="全部" name="platform" id="platform" data-actions-box="true" data-live-search="true">
            <option value="">全部</option>
            {foreach $platforms as $item}
            <option value="{$item}" {if $params.platform == $item}selected{/if}>{$item}</option>
            {/foreach}
        </select>
    </div>
    {/if}

    {if in_array($params['type'], ['account'])}
    <div class="form-group" style="width: 206px;">
        <label class="control-label text-right">账号：</label>
        <select class="selectpicker account-choice" title="全部" name="account[]" id="account" data-actions-box="true" data-live-search="true" multiple>

            {foreach $account_list as $item}
            <option value="{$item}" {if in_array($item, $params['account'] ?? [])}selected{/if}>{$item}</option>
            {/foreach}

        </select>
    </div>
    {/if}

    {if in_array($params['type'], ['seller'])}
    <label class="control-label text-right">部门：</label>
    <select class="selectpicker" title="请选择" name="organ[]" id="organ" data-actions-box="false" data-live-search="true" onchange="order_model.change_org($(this))">
        {foreach $org_list as $item}
        <option value="{$item.id}" {if in_array($item.id, $params['organ'] ?? [])}selected{/if}>{$item.name}</option>
        {$item['name']}
        </option>
        {/foreach}
    </select>

    <label class="control-label text-right">销售员：</label>
    <select class="selectpicker" title="全部" name="seller[]" id="seller" data-actions-box="false" data-live-search="true" data-max-options="20" multiple>
        {foreach $sellers as $item}
        <option value="{$item}" {if in_array($item, $params['seller'] ?? [])}selected{/if}>{$item}</option>
        {/foreach}
    </select>
    {/if}

    <div class="form-group">
        <label class="control-label text-right">时间维度：</label>
        <div class="checkbox">
            <label><input type="radio" name="checkDate" class="checkDate" value="day" {if $params['checkDate'] == 'day'}checked{/if} ><small>天</small></label>
            <label><input type="radio" name="checkDate" class="checkDate" value="month" {if $params['checkDate'] == 'month'}checked{/if}><small>月</small></label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label text-right">区间：</label>
        <div class="input-group laydate-group">
            <input type="text" class="input-sm form-control input-date datepicker {if $params['checkDate'] != 'day'}hide{/if}" name="scantime_start"  placeholder="开始时间" value="{$params['scantime_start']}" readonly/>
            <input type="text" class="input-sm form-control input-date monthpicker {if $params['checkDate'] != 'month'}hide{/if}" name="scandate_start"  placeholder="开始年月" value="{$params['scandate_start']}" readonly/>
            <span class="input-group-addon">到</span>
            <input type="text" class="input-sm form-control input-date datepicker {if $params['checkDate'] != 'day'}hide{/if}" name="scantime_end" value="{$params['scantime_end']}" placeholder="结束时间" readonly/>
            <input type="text" class="input-sm form-control input-date monthpicker {if $params['checkDate'] != 'month'}hide{/if}" name="scandate_end" value="{$params['scandate_end']}" placeholder="结束年月" readonly/>
        </div>
    </div>
    <div class="checkbox shotcut_day_div" {if $params['checkDate'] == 'month'}style="display:none;"{/if}>
    <div class="input-group laydate-group">
        <label><input  name="short_cut_day" type="radio" value="1" class=""><small>本月</small></label>
        <label><input name="short_cut_day" type="radio" value="2" class=""><small>最近7天</small></label>
        <label><input name="short_cut_day" type="radio" value="3" class=""><small>最近15天</small></label>
    </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm" type="submit" name="submit"><i class="glyphicon glyphicon-search"></i> 确定搜索&nbsp;</button>
        <a class="btn btn-warning btn-sm" href="javascript:void(0);" target="_blank" onclick="common_module.export_excel()"><i class="glyphicon glyphicon-save"></i> 导出Excel&nbsp;</a>
    </div>

</form>