<!DOCTYPE html>
<html lang="{$config.language}">
<head>
    {include file="common/meta" /}
    {block name='css'}
    <!-- 用来添加自定义的 样式 -->
    {/block}
    <style>
        .tab-content {
            overflow: auto;
        }
        .table th {
            background-color: white!important;
        }
        .DTFC_LeftBodyLiner {
            overflow-x: hidden;
        }
    </style>
</head>
<body class="hold-transition skin-blue-light fixed sidebar-mini {$bodyClass}">
<div class="wrapper">
    {include file="common/header" /}
    <div class="content-wrapper">
        <section class="content">
            <div class="nav-tabs-custom">
                {include file="order/preprofit/_tabs_bar" /}
                <div class="box-body">
                    <div class="box box-solid">
                        <div class="box-header with-bsales">
                            {include file="order/preprofit/_form_v2" /}
                        </div>
                    </div>
                </div>

                <div class="tab-content">
                    {if $model == 'table'}
                    {if $params['type'] == 'date'}
                    {include file="order/preprofit/tablev2"/}
                    {elseif $params['type'] == 'organ'}
                    {include file="order/preprofit/table_organ_v2"/}
                    {else /}
                    {include file="order/preprofit/tablev2"/}
                    {/if}
                    {else/}
                    {include file="order/preprofit/chart"/}
                    {/if}
                </div>

                <div class="batch-bar clearfix">
                </div>
            </div>
        </section>
        <aside class="control-sidebar control-sidebar-dark">
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="control-sidebar-home-tab"></div>
            </div>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
</div>

{include file="common/script2" /}
{include file="layout/btn_top" /}

{block name='js'}
<!-- 用来 添加自定义 的 js -->
<script>
    var page_str = '';
    var order = [0, 'desc'];
    var page_len = 20;
    var is_page = 1;
    var is_order = 1;
//    组织架构和 平台不进行排序
    {if isset($params['type']) && (in_array($params['type'], ['organ']))}
        var order = [];
        var page_len = 10000;
        // var is_page = -1;
        var is_order = -1;
    {/if}
    common_module.init_data_table(page_str, order, page_len, is_page, is_order);

    // 针对414 错误
    common_module.init_submit_form('manual_submit_form');

    {if isset($params['type']) && !in_array($params['type'], ['platform'])}
    // $('#scroll_table').floatThead({
    //     autoReflow: true,
    // });
    {/if}
</script>
{/block}
</body>
</html>